@import "../../assets/styles/_colors.scss";

.dimmer {
  z-index: 99;
  height: 100vh;
  width: 100vw;
  position: absolute;
  inset: 0;
  background: rgba($color: $black-pearl, $alpha: 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  z-index: 100;
  min-width: 80vw;
  min-height: 50vh;
  background: white;
  border-radius: 10px;
  padding: 25px;
}
